@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
}

.form input {
  width: 100px;
}

.form button {
  height: 3px;
  width: auto;
  background-color: transparent;
  background: none;
  border: none;
}

.material-icons {
  font-family: "Material Icons";
  font-size: 16px; /* Preferred icon size */
  color: #fff;
  background-color: transparent;
  background: none;
}
